/*-------------------------------------------------
                BACKGROUND STYLES
-------------------------------------------------*/
body{
text-align: center;
background:black;
background-size:cover;
background-image:url('images/background.jpg');
background-repeat: no-repeat;
margin:0;
background-position:center;
background-attachment: fixed;
color: white;
font-family: sans-serif;
}
/*-------------------------------------------------
                NAVIGATION STYLES
-------------------------------------------------*/
nav{
margin:0;
}
ul{
list-style: none;
margin: 0;
padding:0px;
}
/*-------------------------------------------------
                LINK STYLES
-------------------------------------------------*/
a{
display:inline-block;
text-decoration: none;
color:white;
margin:10px auto;
padding:0.6em 2em;
background:rgba(92, 105, 82, 0.54);
border-radius: 17px;   
}



a:hover{
    color:goldenrod;
    background: rgba(136, 128, 128, 0.19);
}
/*-------------------------------------------------
                HEADER STYLES
-------------------------------------------------*/
h1 ,h2{
    margin:0;
}

h1{
    font-size:2.5em;
}

.border{
    border: solid 3px #ff1e0b;
    width:9%;
    margin:20px auto; 
    border-radius:12px;
}

p{
margin:0;
}
.button-1{
   border:solid #000 1px;
    padding:1.2em;
    border-radius:80px;
    background:-webkit-linear-gradient(top,#f14d33 0%,#ff2200 100%);
    box-shadow: 2px 2px 2px 3px #000 ;
    display:inline-block;
    text-transform: uppercase;
    margin:20px;
}

a[class="button-1"]:hover{
   background:-webkit-linear-gradient(bottom,#ff2200 100%,#f14d33 0%); 
}
.border-2{
    border: solid 3px #fff;
    width:9%;
    margin:20px auto; 
    border-radius:12px;
}

.background{
    background: -webkit-linear-gradient(top,rgba(229, 21, 13, 0.9) 0%,rgba(230, 51, 23, 0.38) 100%);
}
/*-------------------------------------------------
               MEDIA QUERIES STYLES
-------------------------------------------------*/
@media screen and (min-width: 850px){
    body{
     padding: 0
    }
   nav a{
    background:none; 
    display:inline;
    float: left;
    margin: 0 2% 0 0;
    }
    
    .first{
    margin-right:13%
    }
        
    hr{clear: left;
    margin-bottom:10%
    }
    
    h1{
        clear: left;
    }
    .border{
    width:5%;
    margin:20px auto;
    }
    .border-2{
    width: 4%;
    margin:12px auto;
    }
    .button-1{
    padding:1.2em 1.6em;
    margin:4% auto 6%;
    }
    .background{
    padding-top:1.345em;
    background: -webkit-linear-gradient(top,rgba(229, 21, 13, 0.9) 0%,rgba(230, 51, 23, 0.8) 100%);    
    }   
} /* media query for 850px*/
@media screen and (min-width: 950px){
    .first{
        margin-right:21%
    } 
    }/* media query for 950px*/
@media screen and (min-width: 1050px){
    .first{
        margin-right:25%}
    } /* media query for 1050px*/
@media screen and (min-width: 1100px){
    .first{
        margin-right:31%}
    }  /* media query for 1100px*/
@media screen and (min-width: 1200px){
 .first{
     margin-right:38%;}
 } /* media query for 1200px*/
